<h1>
  <%= @event.name %><br>
  <%= @event.description %><br>
  <%= @event.location %><br>
  <%= @event.date %>
</h1>

<h3>These rides are going to this event</h3>
  <ul>
    <li>Ride 1</li>
    <li>Ride 2</li>
    <li>Ride 3</li>
    <li>Ride 4</li>
  </ul>